<section class="scroll-smooth focus:scroll-auto">
    <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap ">
      <div class ="w-full text-gray-600 body-font bg-indigo-500 mt-10">
            <p class="text-white text-center  text-3xl title-font font-medium ">Projects</p>
      </div>
      <table>
        <tbody>
          <tr>
            <table class="table-auto w-full mt-10">
              <tbody>
                <tr>
                  <td  class="text-black text-left  text-2xl title-font font-medium bg-blue-100">MERATIVE (formerly IBM Watson Health), Mississauga, Ontario, Canada </td>
                </tr>              
                <tr>
                  <td class="border-double border-black border-4">•	Developed Log Forwarding operation to transfer data to the IBM Cloud® service endpoints based on Fluentd data collector; this provided an opportunity to analyze user’s activity in application through the Kibana data visualization tool.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created a Web API with ASP.NET Core and SQL Server.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created a Web API with ASP.NET Core and MongoDB.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Implemented Services by using HttpClient module in Angular 19 for making the Web API calls and injecting data into required components.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created Angular components containing the code for creating Dicom secondary capture images.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Implemented Angular Service to transfer Dicom secondary capture images to the server side.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created the code for Deformable Medical Image Registration to determine the lesion’s location more precisely in Dicom image series.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed a design pattern and created the code to discover matching spots between the images in 2 different medical CT or MR image series.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed test cases for Angular Unit testing by using Jasmine and Karma.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4"><b>Environment:</b> Angular 19, Node.js 19, Typescript, JavaScript, jQuery, Ajax, .NET Core, SQL, HTML, XML, C#, MVC, IBM Cloud® service endpoints, Jasmine, Karma, Kibana, Fluentd 1.0 data collector.</td>
                </tr>                                
              </tbody>
            </table>
            </tr>
            <tr>
            <table class="table-auto w-full mt-10">
              <tbody>
                <tr>
                  <td  class="text-black text-left  text-2xl title-font font-medium bg-blue-100">IBM, Mississauga, Ontario, Canada</td>
                </tr>              
                <tr>
                  <td class="border-double border-black border-4">•	Responsible for Front-End UI development using HTML5, Typescript, Angular 14, Angular CLI and Back-End development using C#, MVC design pattern.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created and updated Angular components/directives/classes/libraries.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Implemented Angular services using Observables to pass the values between Components.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Used Dependency Injection to communicate between Components.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed the code for Lesion Segmentation.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created Tracking Diagram for the lesions to have a graphical representation for the lesion’s evolution.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed innovative design pattern and programmed the Tumor editing tool (Push Tool) which increased an accuracy of a tumor diagnosis.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created the code to add the new findings to the clinical studies.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed design pattern and programmed the Crosshair control for the lesion re-measuring.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Implemented the Web application installer.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created the projects that follow Agile Scrum Methodology which includes iteration application development and daily standup meetings.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4"><b>Environment:</b> Angular 14, Node.js 18, Typescript, JavaScript, jQuery, Ajax, SQL, HTML, XML, C#, MVC, Jasmine, Karma.</td>
                </tr>
              </tbody>
            </table>          
            </tr>
            <tr>
            <table class="table-auto w-full mt-10">
              <tbody>
                <tr>
                  <td  class="text-black text-left  text-2xl title-font font-medium bg-blue-100">MERGE HEALTHCARE, Mississauga, Ontario, Canada</td>
                </tr>              
                <tr>
                  <td class="border-double border-black border-4">•	Responsible for Front-End and Back-End development for the Cardio Workstation and Cardio Web applications, UI interfaces, web forms, user controls, classes, business objects, jQuery, Ajax methods, SQL stored procedures.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed code for communication between Cardio Web application and ICA Viewer application.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed MSI Installer for Cardio Workstation and MSI TomTec Installer.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed Merge screen saver.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4"><b>Environment: </b>JavaScript, jQuery, Ajax, SQL, HTML, XML, C#, C++.</td>
                </tr>
              </tbody>
            </table>          
            </tr>  
            <tr>
            <table class="table-auto w-full mt-10">
              <tbody>
                <tr>
                  <td  class="text-black text-left  text-2xl title-font font-medium bg-blue-100">CANCER CARE GOVERNMENT AGENCY, Toronto, Ontario, Canada</td>
                </tr>              
                <tr>
                  <td class="border-double border-black border-4">•	Ontario Renal Reporting System (ORRS) - a provincial program that captures comparable data from all chronic kidney disease providers.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed design pattern and programmed WCF Services, jQuery AJAX methods, User Interface using MVP design pattern, SignalR functionality, RDLC Excel/Word/PDF reports, user controls, web pages/master pages, classes, business objects, SQL stored procedures.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4"><b>Environment: </b>JavaScript, jQuery, Ajax, C#,  SQL, DHTML, HTML,XML, SignalR 2.0, RDLC reports, Microsoft Enterprise Library 5.0, MVP.</td>
                </tr>
              </tbody>
            </table> 
            </tr>
            <tr>
            <table class="table-auto w-full mt-10">
              <tbody>
                <tr>
                  <td  class="text-black text-left  text-2xl title-font font-medium bg-blue-100">LOBLAW COMPANIES LIMITED, Brampton, Ontario, Canada</td>
                </tr>              
                <tr>
                  <td class="border-double border-black border-4">•	Developed design pattern and programmed web sites: “Store Time, Attendance & Scheduling” (STAS), “HOP administration system”, “Labour Management”.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed design pattern and programmed multi-threaded .NET TCP Server to integrate Loblaw Drug Store and South Huron Hospital Association.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Developed WCF REST Services to integrate POS and SAP database for redemption process.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Created a series of programs/procedures/UNIX scripts/FTP scripts/XML Parsers for trade transactions, promotions, reports for 1080 Canadian stores/superstores/pharmacies under the President’s Choice trademark.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Wrote script for converting PostgreSQL database to Informix database in 400 stores nationwide.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4">•	Major Responsibilities: web pages/master pages, classes, business objects, socket connections, new ASP.NET controls, AJAX methods, generic collections, Oracle stored procedures/packages.</td>
                </tr>
                <tr>
                  <td class="border-double border-black border-4"><b>Environment: </b>JavaScript, C#, MS Visual Studio.NET/2010/2005, AJAX, Oracle databases 9i/10g, Informix 4gl, Korn-Shell, PostgreSQL, Java, Eclipse 3.2, Tomcat application server, PostgreSQL/Informix database servers.</td>
                </tr>
              </tbody>
            </table>          
            </tr>  
          </tbody>
          </table>      
      </div>
</section>
