<section class="scroll-smooth focus:scroll-auto">
    <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap ">
      <div class ="w-full text-gray-600 body-font bg-indigo-500 mt-10">
            <p class="text-white text-center  text-3xl title-font font-medium ">Articles</p>
      </div>
      <table class="table-auto w-full mt-10">
        <tbody>
          <tr>
            <td class="">
            <a class="mr-5 hover:text-purple-500 text-blue-700" href="https://www.codeproject.com/Articles/146017/AJAX-Extender-Control-Interaction-with-List-of-Con">
                <b>AJAX Extender Control:</b> Interaction with List of Controls in Pop-up Window
            </a>
            </td>
           </tr>              
          <tr>
             <td class="">
                <a class="mr-5 hover:text-purple-500 text-blue-700" href="https://www.codeproject.com/Articles/146017/AJAX-Extender-Control-Interaction-with-List-of-Con">
                    <b>AJAX Extender Control</b> with Pop-up Window
                </a>
             </td>
          </tr>
        </tbody>
      </table>      
      </div>
</section>
