<section class="scroll-smooth focus:scroll-auto">
    <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap ">
      <div class ="w-full text-gray-600 body-font bg-indigo-500 mt-10">
            <p class="text-white text-center  text-3xl title-font font-medium ">Certificates</p>
      </div>
      <table class="table-auto w-full mt-10">
        <tbody>
          <tr>
            <td class="w-1/5"><b>Microsoft Certified: Azure Fundamentals (AZ-900)</b></td>
            <td class="w-full"><img alt="Azure Fundamentals" src="assets/images/Alexander_Kosorukov_Azure_Fundamentals.jpg"></td>
           </tr>              
          <tr>
             <td class="w-1/5"><b>Microsoft Certified: Systems Administrator (MCP MCSA)</b></td>
             <td class="w-full"><img alt="Microsoft Certified: Systems Administrator " src="assets/images/Alexander_Kosorukov_MCP_MCSA.jpg"></td>
          </tr>
          <tr>
            <td class="w-1/5"><b>Microsoft Certified: Professional (MCP)</b></td>
            <td class="w-full"><img alt="Microsoft Certified: Professional" src="assets/images/Alexander_Kosorukov_MCP.jpg"></td>
         </tr>          
        </tbody>
      </table>
      </div>
</section>
