<section class="scroll-smooth focus:scroll-auto">
    <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap ">
      <div class ="w-full text-gray-600 body-font bg-indigo-500 mt-10">
            <p class="text-white text-center  text-3xl title-font font-medium ">Achievements</p>
      </div>
      <table class="table-auto w-full mt-10">
        <tbody>
          <tr>
            <td class=""><b>IBM: </b> Created a new perspective method “Push Tools” for the lesion’s border correction in Dicom images. The method is used in IBM and Merative software.</td>
           </tr>              
          <tr>
             <td class=""><b>Merge Healthcare:</b> Memorable sign “Merge Cardio best in KLAS 2015/2016”.</td>
          </tr>
          <tr>
            <td class=""><b>Loblaw Companies Limited:</b> Badge “C” for the personal achievements.</td>
         </tr>          
        </tbody>
      </table>      
      </div>
</section>

